# Dependency directories
node_modules/

# Build directories
dist/
build/

# Test directories
coverage/
test/
tests/

# Configuration files
*.env
*.log
*.md

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
